
html {
	height:100%; 
	margin: 0;
    padding: 0;
}

body {position:absolute; top:0; bottom:0; right:0; left:0; margin: 0;padding: 0;}

.topbar {
	width: 100%;
	position: fixed;
	display:block;
	z-index: 1;
}


#content {
	width: 100%;
	margin: 0;
	padding-top: 75px;
	min-height:100%;
	display: block;
}

#footer {
	border-top: 1px solid grey;
	background-color: #e7e7e7;
}

div #logo, .topbar .menu {
    float: left;
    padding-top: 0.7%;
    padding-left: 15%;
    padding-bottom: 0.7%;
}

.topbar .menu{
    padding-left: 2%;
    padding-top: 0.9%;
}
.topbar .menu a{
    color: white;
}
a {
    cursor: pointer;
}
.notifynumber{
    background-color: #ff4326;
    border-radius: 9px;
    float: right;
    text-align: center;
    padding-left: 4px;
    padding-right: 5px;
    border: none;
    color: white;
}
#footer div {
	padding-top: 1%;
	padding-left: 10%;
    padding-bottom: 1%;
}

div #logo {
	float: left;
	padding-top: 0.7%;
	padding-left: 15%;
	padding-bottom: 0.7%;
}

div #logo span {
	font-family: Broadway;
	font-size: 1.4em;
	color: white;
}

div #logo a {
	text-decoration: none;
}

div #logo a:visited {
	color: white;
}

div #logo a:active {
	color: white;
}

div #logo a:hover {
	color: white;
}

div #user {
	float: right;
	padding-top: 0.7%;
	padding-right: 15%;
}

div #user span {
	font-family: arial;
	color:white;
}

table #separate td {
	width: 500px;
}

.left { width: 45%;float:left; margin-left: 5%;}
.right { width: 45%;overflow: hidden;}

#imghome {
	width: 100%;
}

/** form
form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

form input.ng-valid.ng-dirty {
    background-color: #78FA89;
}*/