<link href="css/upload-photos.css" rel="stylesheet"/>
<link href="css/font-awesome.min.css" rel="stylesheet"/>
<div class="modal-header">
    <h3 class="modal-title">Add Albums</h3>
</div>
<div class="modal-body">
    <div class="row photos">
        <div style="height: 20px;"></div>
        <div class="col-xs-3 photo">
            <a href="#">Album ABC</a><br/>
            <img src="img/sample140.svg" alt="Responsive image">
            <input type="checkbox" class="cb" onchange="onChange(this);">
            <br/> <label> ( 10 pictures ) </label>
        </div>
        <div class="col-xs-3 photo">
            <a href="#">Album DEF</a><br/>
            <img src="img/sample140.svg" alt="Responsive image">
            <input type="checkbox" class="cb" onchange="onChange(this);">
            <br/> <label> ( 5 pictures ) </label>
        </div>
        <div class="col-xs-3 photo">
            <a href="#">Album Beautiful</a><br/>
            <img src="img/sample140.svg" alt="Responsive image">
            <input type="checkbox" class="cb" onchange="onChange(this);">
            <br/> <label> ( 20 pictures ) </label>

        </div>
        <div class="col-xs-3 photo">
            <a href="#">Album Travel</a> <br/>
            <img src="img/sample140.svg" alt="Responsive image">
            <input type="checkbox" class="cb" onchange="onChange(this);">
            <br/> <label> ( 30 pictures ) </label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>