<link href="css/upload-photos.css" rel="stylesheet"/>
<link href="css/font-awesome.min.css" rel="stylesheet"/>
<div class="modal-header">
    <h3 class="modal-title">Add Albums</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div style="height: 20px;"></div>
        <div class="col-xs-3">
            <strong><a href="#">Album 1</a> (20 pics)</strong><br/>
            <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">
        </div>
        <div class="col-xs-3">
            <strong><a href="#">Album 2</a> (30 pics)</strong><br/>
            <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">
        </div>
        <div class="col-xs-3">
            <strong><a href="#">Album 3</a> (25 pics)</strong><br/>
            <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">

        </div>
        <div class="col-xs-3">
            <strong><a href="#">Album 4</a> (41 pics)</strong><br/>
            <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>