<div class="row">
    <div class="col-xs-11">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="font-family: Broadway;font-size: 1.3em; color: white">Happy Family 1</h3>
            </div>
            <div class="panel-body">
                <p>
                    <img src="img/avatar.jpg" alt="Responsive image" width="40" height="40">
                    <a style="font-weight: bold" href="#">To Dinh Tan</a> added a photo <i style="color: grey">- 5 mins ago.</i><br/><br/>
                    <p>Hehe, it's my new photo.</p>
                    <img src="img/avatar.jpg" class="img-responsive" alt="Responsive image" width="400" height="400"><br/>
                    <a href="#">Like</a>&nbsp;-&nbsp;<a href="#">Share</a><br/><br/>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="img/avatar.jpg" alt="Responsive image" width="40" height="40">
                            <a style="font-weight: bold" href="#">To Dinh Tan</a> nice pic.<br/><br/>
                            <img src="img/avatar.jpg" alt="Responsive image" width="40" height="40">
                            <a style="font-weight: bold" href="#">To Dinh Tan</a> pls post more photos.<br/><br/>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <div class="col-xs-1">
                                        <img src="img/avatar.jpg" alt="Responsive image" width="40" height="40">
                                    </div>
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" placeholder="Write comment here..">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </p>
                <p>
                    <img src="img/avatar.jpg" alt="Responsive image" width="40" height="40">
                    <a style="font-weight: bold" href="#">To Dinh Tan</a> added 2 photos <i style="color: grey">- 2 hours ago.</i><br/><br/>
                <p>Hehe, it's my new photo.</p>
                <img src="img/avatar.jpg" alt="Responsive image" width="300" height="300">
                <img src="img/avatar.jpg" alt="Responsive image" width="300" height="300"><br/><br/>
                <a href="#">Like</a>&nbsp;-&nbsp;<a href="#">Share</a><br/><br/>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="img/avatar.jpg" alt="Responsive image" width="40" height="40">
                        <a style="font-weight: bold" href="#">To Dinh Tan</a> very beautiful<br/><br/>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-xs-1">
                                    <img src="img/avatar.jpg" alt="Responsive image" width="40" height="40">
                                </div>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" placeholder="Write comment here..">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>
