<div class="row">
    <div class="col-xs-3">
        <center><img src="img/avatar.jpg" width="150" height="150" class="img-thumbnail"><br/>
            <a ui-sref="home.personal-info"><span id="name" style="color:#2EC142;font-size:1.2em"><b>{{session.name}}</b></span></a>
            <p>
                <b>Sex:</b> Male<br/>
                <b>Work at:</b> FPT University<br/>
                <b>From:</b> Ho Chi Minh City<br/>
            </p>
        <ul ng-show="session.username" class="nav nav-pills nav-stacked">
            <li class="active">
                <a href="#">
                    <span class="badge pull-right">3</span>
                    Families
                </a>
            </li>
            <li>
                <a ui-sref="home.family-home">
                    Happy Family 1
                </a>
            </li>
            <li>
                <a href="#">
                    Happy Family 2
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <span class="badge pull-right">10</span>
                    Stories
                </a>
            </li>
            <li>
                <a ui-sref="home.story-detail">
                    Toy Story 1
                </a>
            </li>
            <li>
                <a href="#">
                    Toy Story 2
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <span class="badge pull-right">12</span>
                    Albums
                </a>
            </li>
            <li>
                <a ui-sref="home.album-detail">
                    Album 1
                </a>
            </li>
            <li>
                <a href="#">
                    Album 2
                </a>
            </li>
        </ul></center>
    </div>
    <div ui-view class="col-xs-9"></div>
</div>