<div class="row">
    <div class="col-xs-11">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: white">Basic Information</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><b>Firstname</b></div>
                            <div class="col-xs-9">Tan</div>
                            <div class="col-xs-1"><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><b>Lastname</b></div>
                            <div class="col-xs-9">To Dinh</div>
                            <div class="col-xs-1"><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><b>About</b></div>
                            <div class="col-xs-9">Who i am?</div>
                            <div class="col-xs-1"><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><b>Sex</b></div>
                            <div class="col-xs-9">Male</div>
                            <div class="col-xs-1"><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><b>From</b></div>
                            <div class="col-xs-9">HCMC</div>
                            <div class="col-xs-1"><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><b>Work at</b></div>
                            <div class="col-xs-9">FPT University</div>
                            <div class="col-xs-1"><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: white">Advanced Information</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><b>Birthdate</b></div>
                            <div class="col-xs-9">18-01-1993</div>
                            <div class="col-xs-1"><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><b>Phone</b></div>
                            <div class="col-xs-9">None</div>
                            <div class="col-xs-1"><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><b>Address</b></div>
                            <div class="col-xs-9">None</div>
                            <div class="col-xs-1"><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><b>Favourite</b></div>
                            <div class="col-xs-9">None</div>
                            <div class="col-xs-1"><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>