<link href="css/bootstrap.min.css" rel="stylesheet"/>
<link href="css/upload-photos.css" rel="stylesheet"/>
<link href="css/font-awesome.min.css" rel="stylesheet"/>
<div class="modal-header">
    <h3 class="modal-title">Upload Photos</h3>
</div>
<div class="modal-body">
    <div class="row" ng-hide="uploadForm.upload">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <form role="form">
                <div class="form-group">
                    <input type="file" accept="image/gif, image/jpeg"
                           onchange="angular.element(this).scope().selectFile(this.files);"
                           id="exampleInputFile" multiple style="width: 100%">
                </div>
                <div class="form-group">
                    <label for="txtDescription">Description</label>
                    <textarea class="form-control" id="txtDescription" placeholder="What is your photo about?"></textarea>
                </div>
                <div style="text-align: center; padding-top: 20px;">
                    <button class="btn btn-primary btn-default"><i class="fa fa-plus"></i> Add</button>
                </div>
            </form>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 photo-container" >
            <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12" ng-repeat="file in uploadForm.files">
                <div title="{{file.filename}}" style="background-image: url('{{file.src}}');
                    background-size: contain;background-position: center center;
                    width: 100%; height: 100px; background-repeat: no-repeat" >
                </div>
                <!-- <img ng-src="{{file.src}}"  width="140px" height="140px"> -->
            </div>
        </div>
    </div>
    <div style="margin-top: 30px;" ng-show="uploadForm.upload">
        <progressbar animate="false" value="uploadForm.progress" max="uploadForm.max" type="success"><b>{{uploadForm.progress}}%</b></progressbar>
        <div align="center" ng-show="uploadForm.complete">Upload Photo(s) successfully!</div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="upload()" ng-hide="uploadForm.upload">Upload</button>
    <button class="btn btn-primary" ng-click="ok()" ng-show="uploadForm.complete">OK</button>
    <button class="btn btn-warning" ng-click="cancel()" ng-hide="uploadForm.complete">Cancel</button>
</div>