<link href="css/create-album.css" rel="stylesheet"/>
<div class="row">
    <div class="col-xs-12">
        <tabset justified="true">
            <tab>
                <tab-heading>
                    <a href="#stories" role="tab" data-toggle="tab">Stories(2)</a>
                </tab-heading>
                <div class="row">
                    <center><h4>All Stories</h4></center>


                    <div style="height: 20px;"></div>
                    <div class="col-xs-3">
                        <strong><a href="#">Story 1</a> (2 albums)</strong><br/>
                        <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">
                    </div>
                    <div class="col-xs-3">
                        <strong><a href="#">Story 2</a> (3 albums)</strong><br/>
                        <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">
                    </div>
                </div>
            </tab>
            <tab>
                <tab-heading>
                    <a href="#albums" role="tab" data-toggle="tab">Albums(4)</a>
                </tab-heading>
                <div class="row">
                    <center><h4>All Albums</h4></center>


                    <div style="height: 20px;"></div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Show all albums do not belong to any stories
                        </label>
                    </div>
                    <div class="col-xs-3">
                        <strong><a href="#">Album 1</a> (20 pics)</strong><br/>
                        <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">
                    </div>
                    <div class="col-xs-3">
                        <strong><a href="#">Album 2</a> (30 pics)</strong><br/>
                        <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">
                    </div>
                    <div class="col-xs-3">
                        <strong><a href="#">Album 3</a> (25 pics)</strong><br/>
                        <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">

                    </div>
                    <div class="col-xs-3">
                        <strong><a href="#">Album 4</a> (41 pics)</strong><br/>
                        <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">
                    </div>
                </div>
            </tab>
            <tab>
                <tab-heading>
                    <a href="#photos" role="tab" data-toggle="tab">Photos(20)</a>
                </tab-heading>
                <div class="row">
                    <center><h4>All Photos</h4></center>
                    <div style="height: 20px;"></div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Show all photos do not belong to any albums
                        </label>
                    </div>
                    <div class="col-xs-3">
                        <img ng-click="viewphoto()" style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">
                    </div>
                    <div class="col-xs-3">
                        <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">
                    </div>
                    <div class="col-xs-3">
                        <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">
                    </div>
                    <div class="col-xs-3">
                        <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">
                    </div>
                    <div class="col-xs-3">
                        <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">
                    </div>
                    <div class="col-xs-3">
                        <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">
                    </div>
                    <div class="col-xs-3">
                        <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">
                    </div>
                    <div class="col-xs-3">
                        <img style="width: 100%; padding-bottom: 20px" src="img/sample140.svg" alt="Responsive image">
                    </div>
                </div>
            </tab>

        </tabset>

    </div>
</div>