<link href="css/create-album.css" rel="stylesheet"/>
<div class="row">
    <div class="col-xs-12">
        <tabset justified="true">
            <tab>
                <tab-heading>
                    <a href="#stories" role="tab" data-toggle="tab">Stories(2)</a>
                </tab-heading>
                <div class="row photos">
                    <center><h4>All Stories</h4></center>


                    <div style="height: 20px;"></div>
                    <div class="col-xs-3 photo">
                        <a href="#">Story 1</a><br/>
                        <img src="img/sample140.svg" alt="Responsive image">
                        <input type="checkbox" class="cb" onchange="onChange(this);">
                        <br/> <label> ( 2 albums ) </label>
                    </div>
                    <div class="col-xs-3 photo">
                        <a href="#">Story 2</a><br/>
                        <img src="img/sample140.svg" alt="Responsive image">
                        <input type="checkbox" class="cb" onchange="onChange(this);">
                        <br/> <label> ( 3 albums ) </label>
                    </div>
                </div>
            </tab>
            <tab>
                <tab-heading>
                    <a href="#albums" role="tab" data-toggle="tab">Albums(4)</a>
                </tab-heading>
                <div class="row photos">
                    <center><h4>All Albums</h4></center>


                    <div style="height: 20px;"></div>
                    <div class="col-xs-3 photo">
                        <a href="#">Album 1</a><br/>
                        <img src="img/sample140.svg" alt="Responsive image">
                        <input type="checkbox" class="cb" onchange="onChange(this);">
                        <br/> <label> ( 20 photos ) </label>
                    </div>
                    <div class="col-xs-3 photo">
                        <a href="#">Album 2</a><br/>
                        <img src="img/sample140.svg" alt="Responsive image">
                        <input type="checkbox" class="cb" onchange="onChange(this);">
                        <br/> <label> ( 30 photos ) </label>
                    </div>
                    <div class="col-xs-3 photo">
                        <a href="#">Album 3</a><br/>
                        <img src="img/sample140.svg" alt="Responsive image">
                        <input type="checkbox" class="cb" onchange="onChange(this);">
                        <br/>  <label> ( 25 photos ) </label>

                    </div>
                    <div class="col-xs-3 photo">
                        <a href="#">Album 4</a><br/>
                        <img src="img/sample140.svg" alt="Responsive image">
                        <input type="checkbox" class="cb" onchange="onChange(this);">
                        <br/> <label> ( 41 photos ) </label>
                    </div>
                </div>
            </tab>
            <tab>
                <tab-heading>
                    <a href="#photos" role="tab" data-toggle="tab">Photos(20)</a>
                </tab-heading>
                <div class="row photos">
                    <center><h4>All Photos</h4></center>

                    <div style="height: 20px;"></div>
                    <div class="col-xs-3 photo">
                        <img ng-click="viewphoto()" src="img/sample140.svg" alt="Responsive image">
                        <input type="checkbox" class="cb" onchange="onChange(this);">
                    </div>
                    <div class="col-xs-3 photo">
                        <img src="img/sample140.svg" alt="Responsive image">
                        <input type="checkbox" class="cb" onchange="onChange(this);">
                    </div>
                    <div class="col-xs-3 photo">
                        <img src="img/sample140.svg" alt="Responsive image">
                        <input type="checkbox" class="cb" onchange="onChange(this);">
                    </div>
                    <div class="col-xs-3 photo">
                        <img src="img/sample140.svg" alt="Responsive image">
                        <input type="checkbox" class="cb" onchange="onChange(this);">
                    </div>
                    <div class="col-xs-3 photo">
                        <img src="img/sample140.svg" alt="Responsive image">
                        <input type="checkbox" class="cb" onchange="onChange(this);">
                    </div>
                    <div class="col-xs-3 photo">
                        <img src="img/sample140.svg" alt="Responsive image">
                        <input type="checkbox" class="cb" onchange="onChange(this);">
                    </div>
                    <div class="col-xs-3 photo">
                        <img src="img/sample140.svg" alt="Responsive image">
                        <input type="checkbox" class="cb" onchange="onChange(this);">
                    </div>
                    <div class="col-xs-3 photo">
                        <img src="img/sample140.svg" alt="Responsive image">
                        <input type="checkbox" class="cb" onchange="onChange(this);">
                    </div>
                </div>
            </tab>

        </tabset>

    </div>
</div>