<div class="modal-body" style=" width: 900px">
    <div class="row">
        <div class="col-xs-12">
            <div class="thumbnail">
                <div id="img" style="width: 100%; height: 400px; background-color: black">
                    <center><img style="height: 100%" src="img/demoviewphoto.jpg"></center>
                </div>
                <div class="caption">
                    <div>
                        <div style="text-align: center">
                            by <a style="font-weight: bold" href="#">To Dinh Tan</a> <i style="color:grey">- 2 hours ago.</i>
                            <p id="caption">My new photo on trip</p>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="img/avatar.jpg" alt="Responsive image" width="40" height="40">
                                <a style="font-weight: bold" href="#">To Dinh Tan</a> very beautiful<br/><br/>
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <div class="col-xs-1">
                                            <img src="img/avatar.jpg" alt="Responsive image" width="40" height="40">
                                        </div>
                                        <div class="col-xs-10">
                                            <input type="text" class="form-control" placeholder="Write comment here..">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>